<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Serviço</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li class="active">Serviços</li>
            </ul>
        </div>
    </div>

    <div class="page-shape">
        <div class="shape1">
            <img src="assets/images/shape/1.png" alt="shape" />
        </div>
        <div class="shape3">
            <img src="assets/images/shape/3.png" alt="shape" />
        </div>
        <div class="shape4">
            <img src="assets/images/shape/4.png" alt="shape" />
        </div>
        <div class="shape5">
            <img src="assets/images/shape/5.png" alt="shape" />
        </div>
        <div class="shape6">
            <img src="assets/images/shape/6.png" alt="shape" />
        </div>
    </div>
</div>

<section class="home-service-area ptb-100">
    <div class="container">
        <div class="section-title">
           
            <h2>
                Serviços
            </h2>
            <span>Code Express fornece todos os tipos de soluções tecnológicas</span>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="container-single-service">
                    <div class="single-service-1" >
                        <p>Desenvolvimento de Sofware personalizado</p>
                    </div>
                    <div class="single-service-1" >
                        <p>Manutenção e suporte TI</p>
                    </div>
                    <div class="single-service-1" >
                        <p>Desenvolvimento de Sites</p>
                    </div>
                    <div class="single-service-1" >
                        <p>Criação de Logos</p>
                    </div>

                    
                </div>
            </div>

            <div class="col-lg-8 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s1.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Desenvolvimento de Software Personalizado para o Seu Site: A Solução Sob Medida</h3>
                        <p>
                            Em um mundo digitalmente interconectado, a presença online é vital para o sucesso 
                            de qualquer negócio. No entanto, para se destacar em um cenário competitivo, é essencial 
                            ir além do básico. É aqui que entra o desenvolvimento de software personalizado para o seu site.
                            Ao optar pelo desenvolvimento de software personalizado, você está investindo em uma solução exclusiva, 
                            projetada especificamente para atender às necessidades únicas do seu negócio. Esqueça as soluções genéricas 
                            e abrace a personalização que permite que o seu site se destaque.Uma das principais vantagens do desenvolvimento 
                            de software personalizado é a capacidade de oferecer uma experiência do usuário excepcional. Ao adaptar a funcionalidade
                            e o design do seu site às necessidades específicas dos seus clientes, você cria uma experiência online envolvente e intuitiva, 
                            aumentando a satisfação do usuário e, consequentemente, a fidelidade à marca.Além disso, o software personalizado pode fornecer 
                            funcionalidades exclusivas que impulsionam a eficiência e a produtividade seja um sistema de gerenciamento de conteúdo (CMS) 
                            personalizado, um aplicativo web exclusivo ou uma API sob medida, você pode automatizar processos, simplificar tarefas complexas 
                            e oferecer recursos inovadores que diferenciam o seu site da concorrência.Outro benefício significativo do desenvolvimento de software 
                            personalizado é a escalabilidade. À medida que o seu negócio cresce e evolui, suas necessidades também mudam. Com soluções personalizadas, 
                            você pode facilmente adaptar e expandir o seu site para acompanhar o crescimento do seu negócio, garantindo que ele permaneça relevante e eficaz a longo prazo.
                            Em resumo, o desenvolvimento de software personalizado oferece uma abordagem sob medida para aprimorar o seu site, proporcionando uma vantagem competitiva significativa.
                            Ao investir na criação de soluções exclusivas e adaptáveis, você está investindo no sucesso contínuo do seu negócio online.
                        
                        </p>
                        <!--
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >-->
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s2.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Desenvolvimento</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Atque vel sit maxime assumenda. maiores,
                            magnam
                        </p>
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s3.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Teste de Controle de Qualidade</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Atque vel sit maxime assumenda. maiores,
                            magnam
                        </p>
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s4.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Gerenciamento de TI
</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Atque vel sit maxime assumenda. maiores,
                            magnam
                        </p>
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s5.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Cíber Segurança</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Atque vel sit maxime assumenda. maiores,
                            magnam
                        </p>
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="assets/images/service/s6.png" alt="service" />
                    </div>

                    <div class="service-content">
                        <h3>Wireless Connectivity</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Atque vel sit maxime assumenda. maiores,
                            magnam
                        </p>
                        <a routerLink="/solutions-details" class="line-bnt"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12">
                <div class="page-navigation-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a
                                    class="page-link page-links"
                                    routerLink="/solutions"
                                    ><i class="bx bx-chevrons-left"></i
                                ></a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" routerLink="/solutions"
                                    >1</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/solutions"
                                    >2</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/solutions"
                                    >3</a
                                >
                            </li>
                            <li class="page-item">
                                <a class="page-link" routerLink="/solutions"
                                    ><i class="bx bx-chevrons-right"></i
                                ></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
             -->
        </div>
    </div>
</section>
