<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="content">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/images/logo2.png" alt="logo" /></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, mattetur adipiscing elit, sed do eiusmod.</p>
                   
                    <div class="logo">
                        <a routerLink="/"><img src="assets/images/logo.png" alt="logo" /></a>
                    </div>
                    
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-pinterest' ></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="content ml-15">
                    <h3>Nosso Serviço</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/">Design Visual</a></li>
                        <li><a routerLink="/"> Desenvolvimento</a></li>
                        <li><a routerLink="/">QA & Testing</a></li>
                        <li><a routerLink="/">Gerenciamento de TI
</a></li>
                        <li><a routerLink="/">Cíber Segurança</a></li>
                        <li><a routerLink="/">Wireless Connection</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="content">
                    <h3>Links Rápidos</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li><a routerLink="/solutions">Serviço</a></li>
                        <li><a routerLink="/">Carreira</a></li>
                        <li><a routerLink="/privecy">Política de Privacidade</a></li>
                        <li><a routerLink="/terms-condition">Termos e Condições</a></li>
                        <li><a routerLink="/">Análise de dados</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="content contacts">
                    <h3 class="ml-40">Contato</h3>

                    <ul class="footer-list foot-social">
                        <li><a href="tel:+5543999105610"><i class="bx bx-mobile-alt"></i> +55 (43) 9 9910 5610</a></li>
                        <li><a href="mailto:luidigastech@gmail.com"><i class="bx bxs-envelope"></i> luidigastech@gmail.com</a></li>
                        <li><a href="tel:+5543998131155"><i class="bx bx-mobile-alt"></i> +55 (43) 9 9813 1155</a></li>
                        <li><a href="mailto:danilofrancisquete@hotmail.com"><i class="bx bxs-envelope"></i> danilofrancisquete@hotmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="menu">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about">Sobre</a></li>
                        <li><a routerLink="/solutions">Soluções</a></li>
                        <li><a routerLink="/case">Estudos de Caso</a></li>
                        <li><a routerLink="/blog">Blog</a></li>
                        <li><a routerLink="/contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
    <i class='bx bx-chevrons-up'></i>
</div>
